<style type="text/css">
html, body {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
}
*{
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    background: #f4f3f3;
    color: #2c2c2c;
    letter-spacing: 0.025em;
    line-height: 1.5;
}
ul li,
ol li {
    list-style: none;
}
header {
    padding: 30px;
    text-align: center;
}

ul li a {
    display: inline-block;
}
ul li a.active {
    border-bottom: solid 2px #5e9bff;
    color: #5e9bff;
}
main {
    display: block;
    max-width: 800px;
    margin: 30px auto 60px;
    text-align: center;
    position: relative;
}
.display {
    display: block;
    max-width: 800px;
    margin: 30px auto 60px;
    text-align: center;
    position: relative;
}
.texture {
    display: block;
    max-width: 1200px;
    margin: 0px auto 60px;
    text-align: center;
    position: relative;
}
.wrapper {
    height: 100%;
    margin-bottom: 15px;
    position: relative;
}
section {
    display: table;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #000;
    position: relative;
    overflow: hidden;
}
section div {
    display: table-cell;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
section h2 {
    padding-top: 20px;
    margin-bottom: 20px;
}
section canvas {
    border-radius: 0 0 8px 8px;
}
section p {
    max-width: 320px;
    padding: 0 15px;
    margin: 5px auto 10px;
}
.canvas-frame-wrapper {
    display: block;
    width: 800px;
    height: 400px;
}
#canvas-frame {
    display: block;
    width: 800px;
    height: 400px;
}
#canvas-frame canvas {
  width: 800px;
  height:400px;
}
.canvas-frame-wrapper2 {
    background-color : #f4f3f3;
    display: block;
    width: 1200px;
    height: 150px;
}


.canvas-frame2, .canvas-frame3, .canvas-frame4 {
    background-color : #f4f3f3;
    float: left;
    border-color: blue;
    width: 33.3333%; 
  }

footer {
    text-align: center;
}

select {
    font-size: 16px;
}




</style>